.main-container {
  position: relative;

  .main-box {
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    background: #8C52FF;
    position: relative;
    display: flex;

    .box {
      background: #C0DA2A;
      width: 150px;
      height: 150px;
      color: #121212;
      padding: 10px;
      margin: 2px;
    }

    .top-left-box {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .hide {
      display: none;
    }
  }
}
