.main-container {
  position: relative;

  .main-box {
    margin: 0 auto;
    width: 1200px;
    height: 500px;
    background: #8C52FF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;

    .box {
      background: #C0DA2A;
      width: 150px;
      height: 150px;
      color: #121212;
      padding: 10px;
    }

    .top-left-box {
    }

    .top-right-box {
    }

    .bottom-left-box {
    }

    .bottom-right-box {
    }

    .hide {
      display: none;
    }
  }
}
