.App {
  background: #121212;
  min-height: 100vh;
  color: #fff;
  font-size: 18px;
  position: relative;
  overflow-y: hidden;

  .col {
    background: #8C52FF;
    margin: 4px;
    height: 250px;
    padding: 10px;
  }

  .main-container {
    padding-bottom: 100px;
    z-index: +50;
    position: relative;
  }

  .bg-logo {
    width: 1000px;
    position: absolute;
    top: -0px;
    left: -250px;
    opacity: 0.1;
  }

  .main-title {
    text-align: center;
    font-size: 40px;
    color: #C0DA2A;
    font-weight: 700;
    margin-bottom: 50px;
    padding-top: 10px;
  }

  .program-name {
    position: absolute;
    bottom: 20px;
    color: #C0DA2A;
    font-weight: 600;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }
}

